.container {
  width: 83%;
  margin: auto;
  background-color: rgb(185, 183, 183);
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

h2 {
  text-align: center;
}

.header {

}

.add-entry-btn {
  margin-top: 10vh;
}
